body
{
	background-image: url('background.jpg');
}

table.main
{
	font-family: "Calibri";
	font-size: 20px;
	font-weight: bold;
	
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

table.internal
{
	font-family: "Calibri";
	font-size: 20px;
	font-weight: bold;
}

h1.header
{
	color: #003399;
	text-align: center;
}

.button
{
	width: 100px;
}

.message
{
	color: #003399;
}

a
{
	color: #003399;
	text-decoration: none;
}